{{! Dashboard is populated with user's job listing }}
{{#if posts}}
  {{#each posts}}
    <div class="d-inline-flex justify-content-around flex-wrap">
      <div
        class="card m-2"
        style="width: 20rem;  min-height: 450px; max-height: 450px"
      >
        <img
          class="card-img-top"
          src="https://des.az.gov/sites/default/files/job-searching.png?time=1644301518"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{job_title}}</h5>
          <h6 class="card-title">{{job_type}}</h6>
          <p class="card-text">{{post_tease job_description}}....</p>
          <a href="/jobs/{{id}}" class="btn btn-info">Learn More</a>
          <a
            href="/edit/post/{{id}}"
            class="btn btn-warning ml-1"
            id="editBtn"
          >Edit</a>
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#confirmDel-modal"
            data-id="{{id}}"
            class="btn btn-danger float-right"
            id="deleteBtn"
          >Delete</button>
          <div
            class="modal fade"
            id="confirmDel-modal"
            tabindex="-1"
            aria-labelledby="confirmDel-modalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="confirmDel-modalLabel">Modal
                    title</h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this post? This cannot be
                  undone!
                </div>
                <div class="modal-footer">
                  <button
                    data-id="{{id}}"
                    type="button"
                    class="btn btn-danger"
                    id="confirm-btn"
                    data-bs-dismiss="modal"
                  >Confirm</button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <h3>No posts yet...</h3>
{{/if}}
<script src="/js/delete.js"></script>